<div ng-include="navigation.html"></div>

<div class="" >
    <label>Name :</label><br>
    <input type="text" ng-model="newProducer.name" required/> <br><br>

    <label>Description :</label><br>
    <input type="text" ng-model="newProducer.description" size="33" required> <br>

    <label>Raison sociale :</label><br>
    <input type="text" ng-model="newProducer.raison_sociale" required/> <br><br>

    <label>Latitude :</label><br>
    <input type="number" ng-model="newProducer.latitude" required/> <br><br>

    <label>Longitude :</label><br>
    <input type="number" ng-model="newProducer.longitude" required/> <br><br>

    <!-- <label>AB :</label><br>
    <input type="checkbox" ng-model="newProducer.ab" required/> <br><br> -->


    <a href="" ng-click="addProducer()">Add producer</a>

</div>

