<h2>List</h2>

<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="producteur in $data">
        <td data-title="'Identifiant'" sortable="'_id'">
            {{producteur._id}}
        </td>
        <td data-title="'Nom'" sortable="'nom'" filter="{ 'nom': 'text' }">
            {{producteur.nom}}
        </td>
        <td data-title="'Description'" sortable="'description'" filter="{ 'description': 'text' }">
            {{producteur.description}}
        </td>
        <td><a href="#/producers/{{producteur._id}}">Details</a></td>
    </tr>
</table>
<br/>
<a href="#/admin">Admin</a>

<leaflet></leaflet>